/*datos personales Jaun Rodríguez de la Fuente UO271773*/
/* Especificidad 001*/
body {
    display: grid;
    grid-template-rows: 
        /* 1 */ auto
        /* 2 */ auto
        /* 3 */ 1fr
        /* 4 */ auto;
}
/* Especificidad 001 */
header {
    grid-row: 2;
}

/* Especificidad 001 */
main {
    grid-row: 3;
}

/* Especificidad 001 */
nav {
    grid-row: 1;
}

/* Especificidad 001 */
footer {
    grid-row: 4;
}

/* Especificidad 001 */
form {
    display: grid;
    grid-gap: 1rem;
}